<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<script type="text/javascript" th:fragment="script" th:inline="javascript">
    google.load("visualization", "1", {packages: ['controls', 'corechart', 'table']});

    function prepareData() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Attribute');
        data.addColumn('string', 'Value');
        data.addRows([
            ['Total number of commits', '[[${model.numberOfCommits}]]'],
            ['Total number of files', '[[${model.numberOfFiles}]]'],
            ['Average number of commits per month', '[[${model.averageCommitNumberPerMonth}]]'],
            ['Total number of users', '[[${model.numberOfUsers}]]'],
            ['The most frequently changed file', [[${model.mostChangableFile}]]],
            ['Total number of added lines', '[[${model.numberOfAddedLines}]]'],
            ['Total number of removed lines', '[[${model.numberOfRemovedLines}]]'],
        ]);
        drawTableChart(data, 'Contributors list', 'chart_div');
    }

    google.charts.setOnLoadCallback(prepareData);
</script>
</body>
</html>